*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Noto Sans TC", Arial, sans-serif;
  font-weight: 400;
  font-size: $font-size-base;
  line-height: 1.5;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
  @include pad {
    max-width: 920px;
  }
  @include phone {
    max-width: 742px;
  }
}
//-----------------------
.text-center {
  text-align: center;
}

.banner-title {
  font-size: $h1-font-size;
  font-weight: 700;
  color: $secondary;
}
.main-title {
  font-size: $h2-font-size;
  font-weight: 700;
  color: $secondary;
  @include phone {
    font-size: $font-m;
  }
}
.classic-title {
  font-size: $h2-font-size;
  font-weight: 700;
  font-style: italic;
  color: $primary;
}
.subtitle {
  font-size: $font-m;
  font-weight: 700;
  color: $secondary;
}
.ptb {
  padding-top: 80px;
  padding-bottom: 80px;
}
.header-nav-a {
  display: inline-block;
  padding: 12px 32px;
  color: $white;
}
.info-nav-a {
  display: inline-block;
  padding: 12px 24px;
  color: $white;
}
.text-input {
  padding: 6px 0 6px 12px;
}
