.faq {
  @include pad {
    padding-top: 80px;
  }
  @include phone {
    padding-top: 40px;
    padding-bottom: 64px;
  }
  h1 {
    border-left: 8px solid $primary;
    @include phone {
      font-size: $font-m;
    }
  }
  ul {
    width: 66%;
    @include pad {
      width: 100%;
    }
  }
}
