.banner {
  background-image: url("../images/home-header.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  @include phone {
    background-image: url("../images/home-header-sm.png");
    height: 396px;
  }
  .container {
    height: 100vh;
    @include phone {
      height: 396px;
    }
  }
}
.banner-content {
  p {
    @include phone {
      font-size: $font-size-base;
    }
  }
  h1 {
    @include phone {
      font-size: $font-m;
    }
  }
  a {
    display: block;
    background: $primary;
    &:hover {
      background: $white;
      color: $primary;
      font-weight: 900;
    }
  }
}
.professional {
  background: $bg-color;
}
.professional-content {
  li {
    width: 25%;
    @include pad {
      width: 50%;
    }
    @include phone {
      width: 100%;
    }
  }
}
.classic-content {
  li {
    width: 33.33%;
    @include pad {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  img {
    @include pad {
      max-width: 40%;
    }
    @include phone {
      max-width: 100%;
    }
  }
}
.together {
  background-image: url("../images/index-bg.png");
  background-size: cover;
  background-position: center;
  @include phone {
    padding-bottom: 40px;
  }
  h2 {
    @include phone {
      padding-top: 40px;
    }
  }
}
.together-content {
  li {
    width: 50%;
    @include pad {
      width: 100%;
      margin-bottom: 24px;
    }
    h3 {
      background: $white;
    }
  }
  .sec1 {
    @include phone {
      content: url("../images/home-section4-1-sm.png");
      width: 100%;
    }
  }
  .sec2 {
    @include phone {
      content: url("../images/home-section4-2-sm.png");
      width: 100%;
    }
  }
}
.recommend-content {
  li {
    width: 25%;
    @include pad {
      width: 50%;
    }
    @include phone {
      width: 100%;
    }
  }
  .cap {
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 16px;
    flex-grow: 1;
  }
}
.contactForm {
  background-color: $bg-color;
}
.contactForm-content {
  width: 636px;
  @include pad {
    width: 576px;
  }
  @include phone {
    width: 100%;
  }
}
.form {
  label {
    display: block;
    &[for="agree"] {
      display: inline;
    }
  }
  input {
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #000;
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
    &[type="checkbox"] {
      display: inline;
      cursor: pointer;
      width: 16px;
    }
  }
  textarea {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    &::placeholder {
      color: rgba(0, 0, 0, 0.2);
    }
  }
  button {
    display: block;
    width: 416px;
    margin: 0 auto;
    cursor: pointer;
    background: $primary;
    border: none;
    @include pad {
      width: 336px;
    }
    @include phone {
      width: 100%;
    }
    &:hover {
      background: $white;
      color: $primary;
      font-weight: 900;
    }
    &:active {
      background: $white;
      color: $primary;
      font-weight: 900;
      border: 3px solid $primary;
      padding: 13px 0;
    }
  }
}
