.font {
  &-xs {
    font-size: $font-xs;
  }
  &-s {
    font-size: $font-s; //20
  }
  &-m {
    font-size: $font-m; //24
  }
  &-l {
    font-size: $font-l; //32
  }
  &-xl {
    font-size: $font-xl; //40
  }
  &-h1 {
    font-size: $h1-font-size; //64
  }
  &-h2 {
    font-size: $h2-font-size; //48
  }
  &-h3 {
    font-size: $h3-font-size; //36
  }
}
.font {
  &-primary {
    color: $primary;
  }
  &-secondary {
    color: $secondary;
  }
  &-white {
    color: $white;
  }
}
.font {
  &-light {
    font-weight: 300;
  }
  &-regular {
    font-weight: 400;
  }
  &-medium {
    font-weight: 500;
  }
  &-bold {
    font-weight: 700;
  }
  &-black {
    font-weight: 900;
  }
}
.mr {
  &-0 {
    margin-right: 0;
  }
  &-1 {
    margin-right: $space * 1;
  }
  &-1-5 {
    margin-right: $space * 1.5; //12
  }
  &-2 {
    margin-right: $space * 2;
  }
  &-2-5 {
    margin-right: $space * 2.5;
  }
  &-3 {
    margin-right: $space * 3;
  }
  &-4 {
    margin-right: $space * 4;
  }
  &-5 {
    margin-right: $space * 5;
  }
  &-6 {
    margin-right: $space * 6;
  }
  &-7 {
    margin-right: $space * 7;
  }
  &-8 {
    margin-right: $space * 8;
  }
}
.-mr {
  &-1-5 {
    margin-right: -$space * 1.5; //-12
  }
}
.ml {
  &-0 {
    margin-left: 0;
  }
  &-1 {
    margin-left: $space * 1;
  }
  &-1-5 {
    margin-left: $space * 1.5; //12
  }
  &-2 {
    margin-left: $space * 2;
  }
}
.-ml {
  &-1-5 {
    margin-left: -$space * 1.5; //-12
  }
}
.mb {
  &-0 {
    margin-bottom: 0;
  }
  &-1 {
    margin-bottom: $space * 1;
  }
  &-2 {
    margin-bottom: $space * 2;
  }
  &-3 {
    margin-bottom: $space * 3;
  }
  &-4 {
    margin-bottom: $space * 4;
  }
  &-5 {
    margin-bottom: $space * 5;
  }
  &-6 {
    margin-bottom: $space * 6;
  }
  &-7 {
    margin-bottom: $space * 7;
  }
  &-8 {
    margin-bottom: $space * 8;
  }
  &-9 {
    margin-bottom: $space * 9;
  }
  &-10 {
    margin-bottom: $space * 10;
  }
}

.pt {
  &-0 {
    padding-top: 0;
  }
  &-0-5 {
    padding-top: $space * 0.5; //4
  }
  &-1 {
    padding-top: $space * 1;
  }
  &-1-5 {
    padding-top: $space * 1.5; //12
  }
  &-2 {
    padding-top: $space * 2;
  }
  &-3 {
    padding-top: $space * 3;
  }
  &-4 {
    padding-top: $space * 4;
  }
  &-5 {
    padding-top: $space * 5;
  }
  &-6 {
    padding-top: $space * 6;
  }
  &-7 {
    padding-top: $space * 7;
  }
  &-8 {
    padding-top: $space * 8;
  }
  &-9 {
    padding-top: $space * 9;
  }
  &-10 {
    padding-top: $space * 10;
  }
  &-12 {
    padding-top: $space * 12; //96
  }
}
.pb {
  &-0 {
    padding-bottom: 0;
  }
  &-0-5 {
    padding-bottom: $space * 0.5;
  }
  &-1 {
    padding-bottom: $space * 1;
  }
  &-1-5 {
    padding-bottom: $space * 1.5; //12
  }
  &-2 {
    padding-bottom: $space * 2;
  }
  &-3 {
    padding-bottom: $space * 3;
  }
  &-4 {
    padding-bottom: $space * 4;
  }
  &-5 {
    padding-bottom: $space * 5;
  }
  &-6 {
    padding-bottom: $space * 6;
  }
  &-7 {
    padding-bottom: $space * 7;
  }
  &-8 {
    padding-bottom: $space * 8;
  }
  &-9 {
    padding-bottom: $space * 9;
  }
  &-10 {
    padding-bottom: $space * 10;
  }
}
.pr {
  &-0 {
    padding-right: 0;
  }
  &-1 {
    padding-right: $space * 1;
  }
  &-1-5 {
    padding-right: $space * 1.5; //12
  }
  &-2 {
    padding-right: $space * 2;
  }
  &-3 {
    padding-right: $space * 3;
  }
  &-4 {
    padding-right: $space * 4;
  }
  &-5 {
    padding-right: $space * 5;
  }
  &-6 {
    padding-right: $space * 6;
  }
  &-7 {
    padding-right: $space * 7;
  }
  &-8 {
    padding-right: $space * 8;
  }
  &-9 {
    padding-right: $space * 9;
  }
  &-10 {
    padding-right: $space * 10;
  }
}
.pl {
  &-0 {
    padding-left: 0;
  }
  &-1 {
    padding-left: $space * 1;
  }
  &-1-5 {
    padding-left: $space * 1.5; //12
  }
  &-2 {
    padding-left: $space * 2;
  }
  &-3 {
    padding-left: $space * 3;
  }
  &-4 {
    padding-left: $space * 4;
  }
  &-5 {
    padding-left: $space * 5;
  }
  &-6 {
    padding-left: $space * 6;
  }
  &-7 {
    padding-left: $space * 7;
  }
  &-8 {
    padding-left: $space * 8;
  }
  &-9 {
    padding-left: $space * 9;
  }
  &-10 {
    padding-left: $space * 10;
  }
}
.d-flex {
  display: flex;
}
.flex {
  &-row {
    flex-direction: row;
  }
  &-row-reverse {
    flex-direction: row-reverse;
  }
  &-column {
    flex-direction: column;
  }
  &-column-reverse {
    flex-direction: column-reverse;
  }
  &-wrap {
    flex-wrap: wrap;
  }
}
.justify {
  &-start {
    justify-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
}
.align {
  &-items-start {
    align-items: flex-start;
  }
  &-items-end {
    align-items: flex-end;
  }
  &-items-center {
    align-items: center;
  }
  &-items-stretch {
    align-items: stretch;
  }
}
